<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <style>
        body {
            margin: 0;
            font-family: 'VT323', monospace;
            display: flex;
        }

        /* Sidebar styles */
        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #f8f9fa;
            padding-top: 3rem;
            overflow-y: auto;
            z-index: 1;
        }

        .sidebar-nav-link {
            padding: 10px;
            color: #000;
            text-decoration: none;
            display: block;
        }

        .sidebar-nav-link:hover {
            background-color: #e9ecef;
        }

        .sidebar-brand {
            padding: 20px;
            font-weight: bold;
            color: #000;
            text-decoration: none;
        }

        /* Main content styles */
        main {
            margin-left: 288px;
            padding: 20px;
        }

        /* Table styles */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            word-wrap: break-word;
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
            vertical-align: middle;
        }

        td {
            max-width: 600px;
        }

          /* Pixel button styles */
          .pixel-btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            font-family: 'VT323', monospace;
            font-size: 12px;
            color: #fff;
            background-color: #000;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border: 2px solid #000;
            box-shadow: 4px 4px 0 #888;
            transition: all 0.1s ease-in-out;
        }

        .pixel-btn:hover {
            box-shadow: 2px 2px 0 #888;
            transform: translate(2px, 2px);
        }

        .pixel-btn:active {
            box-shadow: none;
            transform: translate(4px, 4px);
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-nav-link active">
            <div style="width: 100px; height: 100px; overflow: hidden; border-radius: 50%; margin-bottom: 10px;">
                <img src="<%= user.avatar %>" alt="User Avatar" style="width: 100%; height: auto;">
            </div>
            <p style="margin-bottom: 1em;">
                <%= user.email %>
            </p>
        </div>

        <a href="https://quizzletc.onrender.com/question" class="sidebar-nav-link active">Quản lý câu hỏi</a>
        <a href="https://quizzletc.onrender.com/category" class="sidebar-nav-link">Danh sách thể loại </a>
        <a href="https://quizzletc.onrender.com/test" class="sidebar-nav-link">Quản lý quizz </a>
        <a href="/logout" class="sidebar-nav-link">Đăng xuất</a>

    </div>

    <main>
        <h1 style="align-items: center; justify-content: center; margin-left: 450px; padding: 15px;">Danh sách Quizz</h1>
        <% if (typeof totalTests !== 'undefined') { %>
        <p id="totalTests">Total Tests: <%= totalTests %></p>
        <% } %>

        <a href="https://quizzletc.onrender.com/test/create" class="pixel-btn">Thêm mới</a>

        <!-- <div class="d-flex justify-content-between align-items-center mb-3">
            <a href="/category/create" class="pixel-btn">Thêm danh mục</a>
        </div> -->

        <% tests.forEach(test => { %>
            <div class="card mt-3">
                <div class="card-body">
                    <h2 class="card-title"><%= test.name %></h2>
                    <img src="<%= test.image %>" alt="Test Image" class="card-img-top" style="max-width: 100%;">
                    <p class="card-text"><strong>Category:</strong> <%= test.category.name %></p>
                    <% if (test.questions && test.questions.length > 0) { %>
                        <% test.questions.forEach(question => { %>
                            <div>
                                <p><strong>Question:</strong> <%= question.content %></p>
                                <ul class="list-unstyled">
                                    <% question.answers.forEach(answer => { %>
                                        <li>
                                            <%= answer.answer %> -
                                            <% if (answer.correct === 'true') { %>
                                                <span style="color: green;">True</span>
                                            <% } else { %>
                                                <span style="color: red;">False</span>
                                            <% } %>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No questions found for this test</p>
                    <% } %>
                    <a href="https://quizzletc.onrender.com/test/update/<%= test._id %>" class="pixel-btn">Cập nhật</a>
                </div>
            </div>
        <% }); %>
        
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
